.wrapper {
  padding: 30px 10px;
}

.title {
  margin-bottom: 20px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.error-message {
  color: red;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}

.table {
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  padding: 8px;
}
